#game-container {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin: auto;
}

#dinosaur {
    width: 100px;
    height: 120px;
    background-image: url("dino.jpg");
    background-size: cover;
    position: absolute;
}

.cactus {
    width: 50px;
    height: 80px;
    background-image: url("cactus.jpg");
    background-size: cover;
    position: absolute;
    top: 400px;
    left: 90%;
}

#timer {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}  

#score {
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 10px;
}

#gameOver {
    font-size:30px;
    text-align: center;
    position: relative;
    top: 100px;
    color: red;
}

.jumping {
    animation: jumpAnimation 1.2s ease;
}

@keyframes jumpAnimation {
    0% { top: 380px; }
    50% { top: 190px; }
    100% { top: 380px; }
}
  
#newGameButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 40px;
    font-size: 18px;
}
  